{% extends "BlogBundle::layout.html.twig" %}
{% block content %}
    <div class="col-lg-4">
        <h2>Identificate</h2>
        <hr/>
        <form action="{{ path("login_check") }}" method="post">
            <label>Email:</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" />
            <br/>
            <label>Contraseña:</label>
            <input type="password" id="password" name="_password" class="form-control" />
            <br/>
            <input type="submit" value="Entrar" class="btn btn-success" />
            <input type="hidden" name="_target_path" value="/login" />
        </form>
    </div>

    <div class="col-lg-4">
        <h2>Registrate</h2>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}        
        {{form_start(form, {'action':'', 'method':'POST'})}}
        {{form_end(form)}}
    </div>

    <div class="clearfix"></div>
{% endblock %}