<h1>Formulario con symfony3</h1>
{% if (status != null) and (data != null) %}
    <h3>{{status}}</h3>
    {{ dump(data) }}
{% endif %}
    
{{form_start(form, {'action':'', 'method':'POST'})}}
    {{form_errors(form)}}
    {{form_widget(form)}}
{{form_end(form)}}
