{% extends "layout.html.twig" %}
{% block container %}
    {{parent()}}
    {{texto}}
    <hr/>
    {{fruta.manzana}}
    <hr/>
    {% set fecha = date("-0 days","America/El_Salvador")%}
    {% set texto = "America/El_Salvador/" %}
    {{ fecha.date|date("d-m-Y") }}
    {{ texto|trim("/") }}
    
    <hr/>
    {{ include('AppBundle:pruebas:partial.html.twig') }}
    
    <hr/>
    {{ random(["uno", "dos", "tres", "cuatro"]) }}
    
    <hr/>
    {% for i in range(0, random(25), 3) %}
        {{i}}<br/>
    {% endfor %}
    
    <hr/>
    {{ generateTable(productos)|raw }}
    
    <hr/>
    {{ "cadena de texto"|addText(69) }}
{% endblock %}