{% extends "BlogBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-6">
        <h2>Todas las Etiquetas</h2>
        <hr/>
        <a href="{{ path("blog_add_tag") }}" class="btn btn-success">Añadir etiqueta</a>
        <hr/>
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}    
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Eliminar</th>
            </tr>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.description }}</td>
                    <td>
                        {% if tag.entryTag|length == 0 %}
                        <a href="{{ path("blog_delete_tag", {"id":tag.id}) }}" class="btn btn-danger">Eliminar</a>
                        {% else %}
                            Etiqueta en uso
                        {% endif %}    
                    </td>
                </tr>    
            {% endfor %}    
        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}    