{% extends "BlogBundle::layout.html.twig" %}

{% block menu %}
    {% include "BlogBundle:Category:menu.categories.html.twig" with {'categories': categories} %}
{% endblock %}    

{% block content %}    
    {% for entry in entries %}
        <div class="col-lg-11">
            <p class="pull-left" style="margin-right: 20px;"><img width="200" src="{{ asset("uploads/"~entry.image) }}"></img></p>
            <p><strong>{{ entry.title }}</strong></p>
            <p>{{ entry.category.name }}</p>
            <p>Autor: {{ entry.user.name }}</p>
            
            <p>
                {% for et in entry.entryTag %}
                    {{ et.tag.name }}
                {% endfor %}
            </p>
            
            {% if (app.user.id is defined) and (entry.user.id == app.user.id) %}
            <p>
                <a href="{{path("blog_delete_entry",{"id":entry.id})}}" class="btn btn-danger">Eliminar</a>
                <a href="{{path("blog_edit_entry",{"id":entry.id})}}" class="btn btn-warning">Editar</a>
            </p>
            {% endif %}
            
            <div class="clearfix"></div>
            <hr/>
        </div>
            
        <div class="clearfix"></div>
    {% endfor %}   

    <ul class="pagination">
        {% if page==1 %}
        {% else %}
            {% set page = page-1 %}
        {% endif %}    
        <li><a href="{{ path('blog_read_category', {"id": category.id, "page":page}) }}">&laquo;</a></li>
        {% for i in 1..pagesCount %}
            <li><a href="{{ path('blog_read_category', {"id": category.id, "page":i}) }}">{{i}}</a></li>
        {% endfor %}
        
        {% if page_m == pagesCount %}
        {% else %}
            {% set page_m = page_m+1 %}
        {% endif %}
        <li><a href="{{ path('blog_read_category', {"id": category.id, "page":page_m}) }}">&raquo;</a></li>
    </ul>
{% endblock %}